/* smash it all down so that we get consistent */
@import url("reset.css");

@import url("960-12.less");

@gutter: 20px;
@google_map_grey: #e5e3df;

body {
    font-family: Arial;
    background-color: #fff;
}

#outer_wrapper {
    .container;
}

#header {
    
    margin-top: @gutter / 2;
    
    .grid_12;
    height: 120px;

    .logo {
        float: left;
    }

    h1 {
        display: none;
    }
    
    .advert-wrapper {
        /* google ads 468x60, 468x15*/
        height: 86px;
        width:  468px;
        float: right;
        
        .advert-inner:hover {
            border-color: @google_map_grey - #333;
            opacity: 1;
        }

        .advert-inner {
            padding: 1px;
            border: 2px solid @google_map_grey;
            height: 80px;

            opacity: 0.4;
            overflow: hidden;
            
            a, a:visited {
                color: inherit;
                
            }
            
            img {
                height: 80px;
                width:  80px;
                margin: 0 5px;
                float:  left;
            }

            .headline {
                font-size: 120%;
                white-space: nowrap;
                margin-bottom: 0.2em;
            }

            .blurb {
                font-size: 80%;
                height: 4em;
                overflow: hidden;       
            }
            
        }

    }


}

#rating_wrapper {
    .grid_12;
    background-color: #ccf; 
    margin-bottom: @gutter;
}

#street_view {
    margin: @gutter/2;
    height: 240px;
    background: @google_map_grey;
}

#rating_box {
    .grid_10;
    .prefix_1;
    text-align: center;
    margin-bottom: @gutter;
     
}

#rating_buttons {
    font-size: 160%;

    button {
        padding: 0.2em;
        width: 2em;        
        font: inherit;
        font-family: Arial;
        cursor: pointer;
    }
}

.small_chunk {
    .grid_4;
    height: 240px;
}

.map_backdrop {
    background: url('/static/icons/map-blank.jpg') no-repeat scroll top left #ddd;
}

#overview_map {
    .small_chunk;
    .map_backdrop;
}

#street_map {
    .small_chunk;
    .map_backdrop;
}

#info_pane {
    .small_chunk;

    text-align: center;
    
    .upper {
        background-color: #ddd;
        height: (240px - @gutter) / 2;
        margin-bottom: @gutter;
    }

    .lower {
        background-color: #ddd;
        height: (240px - @gutter) / 2;
    }

    .upper, .lower {
        .inner {
            padding: @gutter / 4;
            overflow: hidden;
        }
    }

    address {
        font-style: normal;
        font-size: 140%;
    }

    .rating {
        font-size: 200%;
        font-weight: bold;
    }

    .smallprint {
        font-size: 50%;
        color: #777;
    }

}

#footer {
    .grid_12;
    text-align: right;
    border-top: 1px solid #ddd;
    margin-top: @gutter;

    li {
        display: inline;
        padding-left: 0.6em;
    }
}
