html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before {
  content: '';
  content: none;
}
blockquote:after {
  content: '';
  content: none;
}
q:before {
  content: '';
  content: none;
}
q:after {
  content: '';
  content: none;
}
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  margin: 0 auto;
  width: 960px;
}
.grid {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.alpha { margin-left: 0; }
.omega { margin-right: 0; }
.grid_1 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
}
.grid_2 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}
.grid_3 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
.grid_4 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}
.grid_5 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
}
.grid_6 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
.grid_7 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 540px;
}
.grid_8 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 620px;
}
.grid_9 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
}
.grid_10 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 780px;
}
.grid_11 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 860px;
}
.grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
.prefix_1 { padding-left: 80px; }
.prefix_2 { padding-left: 160px; }
.prefix_3 { padding-left: 240px; }
.prefix_4 { padding-left: 320px; }
.prefix_5 { padding-left: 400px; }
.prefix_6 { padding-left: 480px; }
.prefix_7 { padding-left: 560px; }
.prefix_8 { padding-left: 640px; }
.prefix_9 { padding-left: 720px; }
.prefix_10 { padding-left: 800px; }
.prefix_11 { padding-left: 880px; }
.suffix_1 { padding-right: 80px; }
.suffix_2 { padding-right: 160px; }
.suffix_3 { padding-right: 240px; }
.suffix_4 { padding-right: 320px; }
.suffix_5 { padding-right: 400px; }
.suffix_6 { padding-right: 480px; }
.suffix_7 { padding-right: 560px; }
.suffix_8 { padding-right: 640px; }
.suffix_9 { padding-right: 720px; }
.suffix_10 { padding-right: 800px; }
.suffix_11 { padding-right: 880px; }
.push_1 { left: 80px; }
.push_2 { left: 160px; }
.push_3 { left: 240px; }
.push_4 { left: 320px; }
.push_5 { left: 400px; }
.push_6 { left: 480px; }
.push_7 { left: 560px; }
.push_8 { left: 640px; }
.push_9 { left: 720px; }
.push_10 { left: 800px; }
.push_11 { left: 880px; }
.pull_1 { left: -80px; }
.pull_2 { left: -160px; }
.pull_3 { left: -240px; }
.pull_4 { left: -320px; }
.pull_5 { left: -400px; }
.pull_6 { left: -480px; }
.pull_7 { left: -560px; }
.pull_8 { left: -640px; }
.pull_9 { left: -720px; }
.pull_10 { left: -800px; }
.pull_11 { left: -880px; }
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.inner {
  height: 100%;
  background-color: #dddddd;
}
body {
  margin: 0 auto;
  width: 960px;
  font-family: Georgia;
}
#header {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  height: 120px;
}
#rating_wrapper {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  background-color: #ccccff;
  margin-bottom: 20px;
}
#street_view {
  margin: 10px;
  height: 240px;
}
#rating_box {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 780px;
  padding-left: 80px;
  text-align: center;
  margin-bottom: 20px;
}
#rating_buttons { font-size: 160%; }
#rating_buttons button {
  padding: 0.2em;
  width: 2em;
  font: inherit;
  font-family: Arial;
  cursor: pointer;
}
.small_chunk, #overview_map, #street_map, #info_pane {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  height: 240px;
}
#footer {
  text-align: right;
  border-top: 1px solid #dddddd;
  margin-top: 2em;
}
#footer li {
  display: inline;
  padding-left: 0.6em;
}
