[% INCLUDE 'header.html', title => "Rate streets in ${area.name}" %]

<div id="rating_wrapper">

    <div id="street_view"></div>
    
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            GrotSpot.initialize_page ( [% point.lat %], [% point.lng %] );
        });
    </script>

    <div class="clear"></div> 

    <div id="rating_box">
        <p id="rating_comment">Rate the panorama above...</p>
        <div id="rating_buttons">
            Grotty
            [% FOREACH n IN [ 1 .. 10 ] %]
                <button>[% n %]</button>
            [% END %]
            Nice
        </div>    
    </div>
</div>

<div class="clear"></div> 

<div id="overview_map"></div>

<div id="street_map"></div>

<div id="info_pane">

<div class="upper">
    <div class="inner">
        <address>Rate to reveal address</address>
        <div class="rating">??</div>
        <div class="votes"></div>
    </div>
</div>    

<div class="lower">
    <div class="inner">

        You have rated <b class="ratings_stored">[% c.session.ratings_stored ||
        0 %]</b> streets and to say thanks we'll give you a <b
        class="future_discount">[% c.session.future_discount || 0 %]%</b>
        discount on future products.

        <br>
        
         <form>
             <input type="text" name="email" />
             <input type="submit" value="Save" />
        </form>

        <div class="smallprint">We will not give your email to anyone else.
        We'll send you emails when there is something to report. No spam -
        promise!</div>

    </div>
</div>

</div>

<div class="clear"></div> 

[% INCLUDE 'footer.html' %]

