<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        [% grotspot_version = grotspot.version %]

        <link rel="stylesheet" href="/static/css/main.css?v=[% grotspot_version %]" type="text/css" media="screen" title="no title" charset="utf-8">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/jquery.form.v2.43.js" type="text/javascript" charset="utf-8"></script>        
        <script src="/static/js/main.js?v=[% grotspot_version %]" type="text/javascript" charset="utf-8"></script>
        <title>[% title %] :: GrotSpot.com</title>

        [% IF ! c.debug %]
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-18889387-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        [% END %]
    </head>

    <body>

<div id="outer_wrapper">
    
    <div id="header">


        <a href="/"><img class="logo" src="/static/icons/grotspot_logo.png" width="268" height="90" ></a>
        <h1>GrotSpot</h1>


        <div class="clear"></div> 

        <fb:like href="www.grotspot.com"></fb:like>

    </div>
